.advantages {}

.advantages__wrapper {

  // margin: 0 auto;
  // padding-left: 26px;
  // padding-right: 26px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  padding-left: 0;
}

.advantages__item {
  color: $black;
  background-color: $light-grey;


}

.advantages__item--big {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

  }

  .advantages__main {
    box-sizing: border-box;

    padding-top: 55px;
    padding-bottom: 39px;

    width: 100vw;
    height: 211px;
    color: $white;
    background-color: $main-accent-blue;

    background-image: url("../img/white-triangle.svg");
    background-position: top center;
    background-size: auto;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      height: 256px;
      width: 33.333%;
      background-image: none;
    }

  }

  .advantages__main--reverse-order {
    background-image: none;

    @media (min-width: $tablet-width) {
      order: 2;
    }
  }

}

.advantages__item--small {
  width: 100vw;
  padding-top: 26px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    display: inline-block;
    width: 33.333%;
    padding-top: 41px;
    height: 256px;
  }
}

.advantages__header {
  margin-top: 0;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  // color: $white;
}

.advantages__number {
  margin-bottom: 32px;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  // color: $white;
}

.advantages__slogan {
  margin-bottom: 0;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-left: 12.5px;
  padding-right: 12.5px;

  // color: $white;
}

.advantages__photo {
  height: 260px;

  @media (min-width: $tablet-width) {
    height: 256px;
    width: 66.666%;
  }
}

.advantages__photo--city {

  background-image: url("../img/photo-city.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.advantages__photo--bridge {

  background-image: url("../img/photo-bridge.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.advantages__feature-list {
  list-style: none;
  padding-left: 0;
  background-color: $white;

  @media (min-width: $tablet-width) {
    height: 330px;
    display: flex;

  }
}

.advantages__feature-item {
  box-sizing: border-box;
  position: relative;
  padding-left: 69px;
  padding-right: 29px;

  &:nth-child(1) {

    &::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 20px;
      width: 39px;
      height: 37px;
      background-image: url("../img/icon-house.svg");
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        top: 50px;
        left: calc(50% - 37.5px);
        width: 75px;
        height: 72px;
        background-size: contain;
      }
    }

    @media (min-width: $tablet-width) {
      order: 1;
    }

  }

  &:nth-child(2) {

    &::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 20px;
      width: 32px;
      height: 38px;
      background-image: url("../img/icon-gift.svg");
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        top: 50px;
        left: calc(50% - 32px);
        width: 64px;
        height: 75px;
        background-size: contain;
      }
    }

    @media (min-width: $tablet-width) {
      order: 3;
    }

  }

  &:nth-child(3) {

    &::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 20px;
      width: 40px;
      height: 35px;
      background-image: url("../img/icon-burger.svg");
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        top: 50px;
        left: calc(50% - 34px);
        width: 68px;
        height: 76px;
        background-size: contain;
      }
    }

    @media (min-width: $tablet-width) {
      order: 2;
    }

  }

  @media (min-width: $tablet-width) {
    padding-top: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 36px;
    padding-right: 36px;
    text-align: center;
  }

}


.advantages__feature-item-header {
  margin-top: 0;
  padding-top: 35px;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-top: 0;
  }
}

.advantages__feature-item-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: $dark-grey;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}
