.intro {
  border-bottom: 1px solid $border-grey;
}

.intro__welcome-background {}

.intro__header {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: $black;
}

.intro__slogan {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: $black;
}

.intro__description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: $dark-grey;
}
