.intro {
}

.intro__wrapper {
  border-bottom: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.intro__welcome-background {}

.intro__header {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.intro__slogan {

  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;

  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.intro__description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;

  color: $dark-grey;

  @media (min-width: $tablet-width) {
    line-height: 24px;
  }
}
