.nav-list {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
  }
}

.nav-list--closed {
  padding: 0;
  margin: 0;

  @media (min-width:$tablet-width) {
    display: flex;
  }
}

.nav-list__item {
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 20%;
  }
}



.nav-list__item--main {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.nav-list__item--catalog {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.nav-list__item--form {
  @media (min-width: $tablet-width) {
    margin-left: auto;
    order: 4;
  }
}

.nav-list__item--htmla {
  @media (min-width: $tablet-width) {
    order: 5;
  }
}

.nav-list__item--logo {
  height: 56px;
  order: 3;
}

.nav-list__item--active {}

.nav-list__logo {
  // position: absolute;
  display: block;
  margin: 0 auto;
  width: 102px;
  height: 84px;
  background-image: url("../img/logotype-mobile.svg");
  align-self: center;

  @media (min-width: $tablet-width) {

    background-image: url("../img/logotype-tablet.svg");
  }

  @media (min-width: $desktop-width) {
    width: 187px;
    height: 97px;
    background-image: url("../img/logotype-desktop.svg");
  }

}

.nav-list__link {
  background: $main-accent-blue;
  padding-top: 10px;
  padding-bottom: 5px;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    background-color: $white;
    padding-top: 16px;
    padding-bottom: 14px;

    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: $black;
  }
}

