.page-main-catalog {}

.page-main-catalog__intro {
  margin-bottom: 22px;
}

.page-main-catalog__photo {
  margin-bottom: 32px;
}

.page-main-catalog__photo-list {
  margin-top: 0;
  margin-bottom: 0;
}

.page-main-catalog__photo-item {
  margin-bottom: 22px;
}

.page-main-catalog__video-description {
  margin-bottom: 33px;
  padding-left: 28px;
  padding-right: 28px;
}
