.page-header {
  // position: relative;
  display: flex;
  flex-direction: column;
}



.page-header__welcome {
  height: 389px;
  background-image: url("../img/intro-triangle.svg"), url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto, cover;

  @media (min-width: $tablet-width) {
    background-image: url("../img/intro-triangle.svg"), url("../img/back-desktop.jpg");
    height: 518px;
  }

  @media (min-width: $desktop-width) {

  }
}

.page-header__background {
  height: 158px;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background-image: url("../img/back-desktop.jpg");
    background-position: center;
    background-size:auto;
    height: 291px;
  }
}
